.c-form-item {
  display: flex;
  flex-direction: column;
}

.c-form-item__label {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1;
  gap: 5px;
  color: var(--c-form-item-label-color);

  &.c-form-item--required::before {
    content: '*';
    color: var(--c-invalid-color);
  }
}

.c-form-item__content {
  display: flex;
  flex-direction: column;
}

.c-form-item__error {
  display: flex;
}

.c-form-item__error-text {
  padding-top: .1875rem;
  color: var(--c-invalid-color);
  font-size: .75rem;
  line-height: 1;
}
