.c-popover {
  padding: 0.75rem 0;
}

.c-popover__header {
  padding: 0 0.75rem 0.75rem;
}

.c-popover__title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--c-popover-color);
}

.c-popover__body {
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--c-popover-color);
  padding: 0 .75rem;
}

.c-popover__footer {
  padding: 0.75rem 0.75rem 0;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
